@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode */
html {
  --bg-color: #1a1f2b; /* Dark background */
  --text-color: white; /* Light text color */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
